html{
    font-size:14px;
}

body{
    --body-padding:5%;
}

#grid-pagina{
    display:grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "welcome      welcome  " 
                         "sale         transport  "
                         "bestsellers  bestsellers"
                         "tabel        tabel"
                         "calendar     anunturi"
                         "online-users stats-users"
                         "server       server";
    padding:4%;
    grid-gap:2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

iframe{
    max-width:700px;
    width:100%;
}

table{
    max-width:700px;
    width:100%;
}

#container-video{
    display: none;
}

#banner{
    display:none;
}