<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="librarie, Libmone, carti, reduceri, sale, bestseller, fiction, fantasy">
        <meta name="description" content="Librăria Libmone vă oferă cărți de la autorii preferații la cele mai bune prețuri, cu livrare rapida și reduceri din plin!">
        <title>Libmone - librărie online</title>
        <%- include("../fragmente/head") %>
    </head>

    <body>
      
        <%- include("../fragmente/header") %>

        <main>

            <section id="contact">
                <h2>Contact</h2>
                <p>Librăria noastră este mândre să aibe un personal prietenos, disponibil să rezolve orice probleme pot aparea, sau să raspunda la orice întrebari.</p>
                <details>
                    <summary>Magazinul fizic</summary>
                    <a href="https://goo.gl/maps/aWvz8BfhVePabxLo9" target="blank">Locație</a>
                    <p>Program:</p>
                    <ul>
                        <li>Luni: 9:00 - 21:00</li>
                        <li>Marți: 9:00 - 21:00</li>
                        <li>Miercuri: 10:00 - 22:00</li>
                        <li>Joi: 9:00 - 21:00</li>
                        <li>Vineri: 9:00 - 21:00</li>
                        <li>Sâmbătă: 11:00 - 20:00</li>
                    </ul>
                    <strong>Programul poate suferii unele schimbări din cauza sărbătorilor sau a situațiilor neprevazute.</strong>
                </details>
                <details>
                    <summary>Magazinul online</summary>
                    <p>Asistență telefonică:</p>
                    <a href="tel:0799999999">Număr de telefon: 0799999999</a>
                    <ul>
                        <li>Luni - Vineri: 9:00 - 18:00</li>
                        <li>Sâmbătă - Duminică: 12:00 - 18:00</li>
                    </ul>
                    <p>Asistență prin email:</p>
                    <a href="mailto:libmone@gmail.com">Adresă de email: libmone@gmail.com</a>
                    <p>Asistență prin social media:</p>
                    <a href="https://twitter.com/libmone">Contul nostru de Twitter: @libmone</a>
                    <p></p>
                    <a href="https://www.instagram.com/libmone_library">Contul nostru de Instagram: @libmone_library</a>
                </details>
            </section> 


        </main>
        <div id="banner">
            <p><i class="fas fa-exclamation-circle"></i> Disclaimer:</p>
            <p>Acesta este un proiect școlar.</p>
        </div>

        <%- include("../fragmente/footer") %>

    </body>
</html>
