<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="librarie, Libmone, carti, reduceri, sale, bestseller, fiction, fantasy">
        <meta name="description" content="Librăria Libmone vă oferă cărți de la autorii preferații la cele mai bune prețuri, cu livrare rapida și reduceri din plin!">
        <title>Libmone - librărie online</title>
        <%- include("../fragmente/head") %>
    </head>

    <body>
      
        <%- include("../fragmente/header") %>

        <main>

            <section>
                <h3>Informatii</h3>
            </section>


        </main>
        <div id="banner">
            <p><i class="fas fa-exclamation-circle"></i> Disclaimer:</p>
            <p>Acesta este un proiect școlar.</p>
        </div>

        <%- include("../fragmente/footer") %>

    </body>
</html>