<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="librarie, Libmone, carti, reduceri, sale, bestseller, fiction, fantasy">
        <meta name="description" content="Librăria Libmone vă oferă cărți de la autorii preferații la cele mai bune prețuri, cu livrare rapida și reduceri din plin!">
        <title>Libmone - librărie online</title>
        <%- include("../fragmente/head") %>
    </head>

    <body>
      
        <%- include("../fragmente/header") %>

        <main>
            <section id="transport">
                <h2>Transport gratuit!</h2>
                <p>Comenzile de peste 150 de lei au parte de transport gratuit. în rest, acesta este doar 14,99 lei!</p>
            </section>
            <section id="prod">
                <h2>Cărțile noastre</h2>
                <a href="https://www.youtube.com/embed/KDYI3JWP2M4" target="unboxing">Video 1</a><br>     
                <a href="https://www.youtube.com/embed/XzwQFnBLN_0" target="unboxing">Video 2</a><br>
                <iframe name="unboxing" width="560" height="315" src="https://www.youtube.com/embed/KDYI3JWP2M4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </section>
            <section id="payment">
                <h2>Livrare și plată</h2>
                <details>
                    <summary>Împachetare</summary>
                    <p>Librăria noastră vă oferă un serviciu de împachetare gratuit. Astfel, dacă dorești să fac un cadou unei persoane speciale, precizează acest lucru în comandă.</p>
                </details>
                <details>
                    <summary>Transport</summary>
                    <p>Livrarea se face cu Fan Courier, iar aceasta este gratuită la comenzi de peste 150 de lei, în rest fiind doar 14,99 lei!</p>
                    <p>Comenzile noastre sunt rapide, dar dacă te aflii intr-o criză de timp, poți apela la serviciu de livrare in 24 de ore!</p>
                    <p>Taxa acestui serviciu este de <b>15 lei</b>, indiferent de suma totală a comenzii.</p>
                </details>
                <details>
                    <summary>Ridicare produse în librărie</summary>
                    <p>De anul acesta poți ridica coletul direct din librărie! Ai parte de ofertele exclusive de pe site fără a plătii transportul.</p>
                </details>  
                <details>
                    <summary>Plata</summary>
                    <p>Poți plătii cu cardul de credit pe site sau la primirea coletului!</p>
                </details>    
            </section>

        </main>
        <div id="banner">
            <p><i class="fas fa-exclamation-circle"></i> Disclaimer:</p>
            <p>Acesta este un proiect școlar.</p>
        </div>

        <%- include("../fragmente/footer") %>

    </body>
</html>
