body{
    --inaltime-meniu:3rem;
}

nav ul.meniu ul{
    display: none;
	position:absolute;
	width:100%;
}
nav{
    
    height:var(--inaltime-meniu);
    width:100%;
    top:0;
    padding:0;
    background: var(--maincolor);
    z-index:10;
    position:sticky;
}
nav ul.meniu>li{
    float:left;
    width:100px;
	position:relative;
}

nav ul, nav li{
    padding:0;
    margin:0;
}
nav ul.meniu li{
    text-align:center;
    list-style-type: none;
    background: var(--maincolor);
    cursor:pointer;
}
nav ul.meniu li a, nav ul.meniu li div{
    text-decoration: none;
    color:black;
    display: block;
    font-weight:bold;
    height:var(--inaltime-meniu);
    line-height:var(--inaltime-meniu);
    outline:1px solid var(--textcolor);
}
ul.meniu>li>a:hover{
    box-shadow: inset 0 0 20px 5px var(--darkcolor);
}

nav ul.meniu{
   transition: box-shadow 700ms linear; 
}

nav ul.meniu>li:hover>ul{
	display:block;
    animation-name: aparitie_meniu;
    transform-origin: 50% 0%;
    animation-iteration-count:1;
    animation-duration:0.7s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}

nav ul.meniu>li li a:hover:before{
    content: '\00BB   ';
    color:black;
    animation-name: slide;
    transition: height 0.2s;
    animation-fill-mode: forwards;
    position: relative;
    animation-duration: 0.9s;
}

#hamburger{
    display: none;
    height: var(--inaltime-meniu);
}
#ch-menu{
    display: none ;
}
#hamburger img{
    height:100%;
    width:auto;
}

@keyframes aparitie_meniu{
    0%{
        transform: scaleY(0);
    } 
	100%{
    	transform: scaleY(1);
    }
}

@keyframes slide {
    0%{ opacity:0; left:0;} 
    100% { opacity:1; left: 4px; }
}