<footer>
    <div class="bara-jos">
        <!--<a href="#"> "înapoi sus"</a> -->
        <address>
            <a>Strada Ștefan cel Mare, nr. 2, București, sector 3, România</a>
            <a href="tel:0799999999">Sunați</a>
            <a href="mailto:libmone@gmail.com">Trimiteți un mail</a>
        </address>
        <p id="copyright">
            <small> Copyright &#169; libmone.ro
                <time datetime="2021-03-06"> 06.03.2021</time>
            </small>
           
        </p>
    </div>
</footer>
