<header>
    <h1>Librăria Libmone</h1>
</header>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="./resurse/pictures/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><a id="home"> <i class="fas fa-home"></i><i id = "scris">Acasă</i ></a>
                <ul>
                    <li><a href="/index#welcome">Welcome</a></li>
                    <li><a href="/index#sale">Reduceri</a></li>
                    <li><a href="/index#transport">Livrare</a></li>
                    <li><a href="/index#bestsellers">Cărți</a></li>
                </ul>
            <li><a href="/produse#prod">Produse</a>
                <ul>
                   <li><a href="#"> Romance</a></li>
                   <li><a href="#"> Adventure</a></li>
                   <li><a href="#">Fiction</a></li>
                   <li><a href="#">Fantasy</a></li>
                   <li><a href="#">SF</a></li>
                   <li><a href="#">Mystery</a></li>
               </ul>
           </li>
            <li><a href="#info">Informații</a>
                 <ul>
                    <li><a href="#">Despre noi</a></li>
                    <li><a href="#">Istoric</a></li>
                    <li><a href="#">Social</a></li>
                </ul>
            </li>
            <li><a href="/livrare#payment">Livrare</a></li>
            <li><a href="/contact#contact">Contact</a></li>
        </ul>
    </nav>
